<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>

<script type="text/javascript">
  window.logo = "<%= image_url("logo.png") %>"
  window.avatar = "<%= image_url("avatar.png") %>"
  window.github = "<%= image_url("GitHub-Mark-Light-32px.png") %>"
  window.linkedin = "<%= image_url("linkedin-white.png") %>"
  window.personalsite = "<%= image_url("robot-white.png") %>"
</script>

<main id='root'>
  check Root
</main>