<!DOCTYPE html>
<html>
  <head>
    <title>EmilysFlix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%= javascript_include_tag 'application' %>
    <link rel="apple-touch-icon" sizes="180x180" href="<%=image_url("apple-touch-icon.png")%>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%=image_url("favicon-32x32.png")%>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%=image_url("favicon-16x16.png")%>">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
